{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"href="{% static 'CSS/style.css' %}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Change Password</title>
  <script type="text/javascript">
      $(function () {
        setTimeout(function () {
          $("#hideDiv").fadeOut(1500);
        }, 3000);
      });
    </script>
	<style>
    html,body{
background-image: url('https://images.unsplash.com/photo-1549880340-c42a50d83674?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}
.newdiv
{
	margin-top: 3%;
	margin-bottom: 2%;
}
.profile {
        width: 85%;
        margin-left: 10%;
        padding: 20px;
        border:2px solid black;
box-shadow: 1px 1px 3px rgba(1, 1, 1, 1);
background-color:#D4EFDF ;
      }

</style>
</head>
<body>

<nav class="navbar navbar-light" style="background-color: #FEF9E7 ;">
      <div class="container-fluid">
        <div class="navbar-header navbar-right">

          <ul class="nav navbar-nav">

            <li class="active"><a href="dashboard"><b style="color: black">DASHBOARD</b></a></li>
            <li class="active"><a href="myprofile"><b style="color: black">MY PROFILE</b></a></li>
            <li class="active">
              <a href="change_Password"><b style="color: black;">CHANGE PASSWORD</b></a>
            </li>
          </ul>
          <a href="logout"><button class="btn btn-danger navbar-btn">LOGOUT</button></a>
        </div>
        <div class="box">
       <a href="dashboard">
        
        <h4 style="font-family:Impact, fantasy;font-weight: 300;"><i>Personal</i></h4>
        </a>
      </div>
      </div>
    </nav>

<div class="container">
	<div class="newdiv"> 
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
          <!--- Search by Company Name --->
          <div class="container-fluid-left">
            <form
              class="navbar-form navbar-left"
              action="companysearch"
              method="post"
            >
              {% csrf_token %}
              <div class="form-group">
                <b>Company Name</b>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search by Company Name"
                  name="search" required
                />
              </div>
              <button type="submit" class="btn btn-success">Search</button>
            </form>
          </div>

          <div class="container-fluid-left">
            <form
              class="navbar-form navbar-left"
              action="datesearch"
              method="post"
            >
              {% csrf_token %}
              <div class="form-group">
                <b>Apply Date</b>
                <input
                  type="date"
                  class="form-control"
                  placeholder="Search by Company Name"
                  name="search" required
                />
              </div>
              <button type="submit" class="btn btn-success">Search</button>
            </form>
          </div>
        </nav>
	&emsp;<a href="dashboard"><b style="color:black;">HOME</b></a><b> >></b><a href="change_Password"><b style="color:black;">Change Password</b></a><b> >></b>



  <div id="hideDiv">
         <center> <h3 style="color:green;">{{error}}</h3></center>
        </div>
        <div class="profile">
          <form action="change" method="post">
            <h1>Change Password</h1>
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                type="password"
                placeholder="OLD PASSWORD"
                name="old"
                class="form-control" required
              />
              <br />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                type="password"
                placeholder="NEW PASSWORD"
                name="new1"
                id="new1"
                class="form-control" required
              />
              <br />
            </div>
            <div class="form-outline mb-4">
              <input
                type="password"
                placeholder="RE-ENTER NEW PASSWORD"
                id="new2"
                name="new2"
                class="form-control" required
              />
              <br />
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center"></div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">
              Change Password
            </button>
          </form>
        </div>
</div>
</div>


</body>
</html>